<div class="container-fluid">
  <div class="row">
    <col-md-10 class="text-center">
      <footer role="contentinfo">
        <p><small>Copyright &copy; MJ Abadilla</small></p>
      </footer>
    </col-md-10>
  </div>
</div>
